body{
   background-color:#E7E7E8;
}
.conteneur{
    width:100%;
    max-width:960px;
    padding:10px;
    margin:15px;
}

.colonne{
    vertical-align:top;
    display:inline-block;
    width:30%;
    box-sizing:border-box;
}

.image{
    width:20%;
    display:inline-block;
    vertical-align:top;
    box-sizing:border-box;

}

.entete{
   width:30%;
    display:inline-block;
    vertical-align:top;
    box-sizing:border-box;
    padding-left:20%;
}

header{
    background-image:url("../images/header.png");
    background-attachment:fixed;
    width:100%;
    padding:10px;
}

main{
     background-image:url("../images/main.png");
    background-attachment:fixed;
    
}

footer{
 background-image:url("../images/footer.png");   
 background-attachment:fixed;
 width:100%;
 padding:10px;
}

iframe{
    display:inline-block;
    vertical-align:top;
    width:50%;
}

footer p{
    
    font-style:oblique;
    color:black;
    text-align:center;
    vertical-align:bottom;
    display:inline-block;
    margin-left:30px;
    width:45%;
}
p{
    text-align:justify;
    font-family:Arial,Verdana;
}

h1{
   font-family:Times;
   font-style:oblique;

}

h2{
    
    font-family:Times;
   font-style:italic;
}

h3{
    
    font-family:Times;
    text-align:center;
    font-style:oblique;
  
}
ol li{
    text-align:justify;
    font-family:Arial,Verdana;
}
ul li{
    text-align:justify;
    font-family:Arial,Verdana;
}
